

{{ form_row(dealAppointmentForm.appointment.attendees) }}
{{ form_row(dealAppointmentForm.appointment.subject) }}
{{ form_row(dealAppointmentForm.appointment.location) }}
{{ form_row(dealAppointmentForm.appointment.appointmentDescription) }}
<div class="input-append date dateTimePicker">
    {{ form_row(dealAppointmentForm.appointment.startTime) }}
</div>
{{ form_row(dealAppointmentForm.appointment.duration) }}


<div style="display:none"> {{ form_rest(dealAppointmentForm) }}</div>
<div class="control-group">
    <div class="controls">                      
        <a class="btn btn-white ajaxLinkComp" href="{{path('deal_appointment_list', {dealId: deal.id})}}" >Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
<script src="{{ asset('/js/bootstrap-datetimepicker.min.js') }}"></script>          
<script type="text/javascript">

    $(document).ready(function() {
        $("<span class='add-on'><i data-time-icon='icon-time' data-date-icon='icon-calendar'> </i></span>").appendTo('.dateTimePicker .control-group .controls');

    });



    $('.dateTimePicker').datetimepicker({
        language: 'en',
        pick12HourFormat: false,
        pickSeconds: false,
    });

    //$('.attendees').tagit();
</script>