<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TKGL {% block title %}{% endblock %}</title>
        <meta name="author" content="Tiko Banyini">
        <meta name="description" content="Private company business information.">
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
        {#<link href="{{ asset('css/navbar-fixed-top.css') }}" rel="stylesheet">#}
        <!-- Bootstrap theme -->
        {#<link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">#}

        <!-- Custom styles for this template -->
        {#<link href="{{ asset('css/theme.css') }}" rel="stylesheet">#}
        <script src="{{ asset('js/jquery.js') }}"></script>
    {% block stylesheets %}{% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->



        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('company_manage')}}">HEALTH.care</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{path('user_manage')}}">Users</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.security.gettoken.getuser.getPerson.getFirstname}} {{app.security.gettoken.getuser.getPerson.getlastname}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_change_password') }}"><i></i> Change password</a></li>                  
                                <li><i class="i"></i> <a href="{{ path('fos_user_security_logout') }}" >Logout</a></li>                                                        
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">                
        {% block body %}
        {% endblock %}
            </div>

            <hr/>
            <footer>
                <p>&copy; Tkgl {{"now"|date('Y')}} - All rights reserved.</p>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->        
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/holder.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
