<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TKGL {% block title %}{% endblock %}</title>
        <meta name="author" content="Tiko Banyini">
        <meta name="description" content="Private company business information.">
        <link rel="stylesheet" type="text/css" href="{{ asset('app-css.v1.css')}}">        
    {% block stylesheets %}{% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ asset('js/respond.min.js')}}"></script>
            <script src="{{ asset('js/html5.js')}} "></script>
            <script src="{{ asset('js/excanvas.js')}} "></script>
          <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- header -->
        <header id="header" class="navbar navbar-sm bg bg-black"><a href="#" class="btn btn-link pull-right"><i class="icon-question icon-large text-default"></i></a>
            <a class="navbar-brand" href="#">Men's Health </a><br>| private project
        </header><!-- / header -->
{% block body %}


{% endblock %}

    </body>
</html>
