{{ form_row(userForm.username) }}
{{ form_row(userForm.password) }}
{{ form_row(userForm.enabled) }}
{{ form_row(userForm.email) }}
{{ form_row(userForm.person.firstName) }}
{{ form_row(userForm.person.lastName) }}
<div style="display:none"> {{ form_rest(userForm) }}</div>
<div class="control-group">
    <div class="controls">                      
        <button type="submit" class="btn btn-white">Cancel</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</div>

