
<table class="table table-striped b-t text-small">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{path('user_edit',{intUserId: user.id})}}" title="Edit user" class="ajaxLink">{{ user.person.firstname}} </a>
                </td>
                <td>
                    <a href="{{path('user_edit',{intUserId: user.id})}}" title="Edit user" class="ajaxLink">{{ user.person.lastname}} </a>
                </td>
                <td>                    
                    <a href="{{path('user_edit',{intUserId: user.id})}}" title="Edit user" class="ajaxLink">{{ user.username}} </a><br>
                </td>
                <td>
                    {{ (user.enabled ? 'Yes' :  'No' )}} 
                </td>
                <td>
                    {{user.createdAt |date('Y-m-d h:i:s')}}
                </td>
            </tr>
            {% else %}
                <tr><td>
                        <p>No users found.</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


