
<section class="panel text-left">
    <header class="panel-heading">{{deal.person}}  ({{deal.dealStateUpdates|first}})
    <span class="pull-right"> <a href="{{path('deal_edit',{dealId:deal.id})}}" title="Edit details" class="ajaxLink">Edit</a></span>
    </header>
    {% for email in deal.person.personEmailAddresses %}
        <h5>{{email.emailAddressType}} email address: {{email.emailAddress}} </h5> 
    {% endfor%}
    {% for tel in deal.person.personPhoneNumbers  %}
        <h5>{{tel.phoneNumberType}}: {{tel.phoneNumber}} </h5> 
    {% endfor%}
    
</section>
