<div class="row">
    <div class="span5 offset1">
        <h4>Personal details</h4>
        {{ form_row(dealForm.person.firstName) }}
        {{ form_row(dealForm.person.secondName) }}
        {{ form_row(dealForm.person.lastName) }}
        {{ form_row(dealForm.person.dateOfBirth) }}
        {{ form_row(dealForm.person.idnumber) }}
        {{ form_row(dealForm.person.passportNumber) }}
    </div>
    <div class="span5">
        <h4>Contact details</h4>
        <h5>Email addresses</h5>
        <ul class="personEmailAddresses unstyled" data-prototype="{{ form_widget(dealForm.person.personEmailAddresses.vars.prototype) | e }}">
            {% for personEmailAddress in dealForm.person.personEmailAddresses %}
                <li>
                    {{ form_row(personEmailAddress.emailAddressType) }}                        
                    {{ form_row(personEmailAddress.emailAddress) }}                        

                </li>
            {% endfor %}
        </ul>
        <h5>Phone numbers</h5>
        <ul class="personPhoneNumbers unstyled" data-prototype="{{ form_widget(dealForm.person.personPhoneNumbers.vars.prototype) | e }}">
            {% for personPhoneNumber in dealForm.person.personPhoneNumbers %}
                <li>
                    {{ form_row(personPhoneNumber.phoneNumberType) }}                        
                    {{ form_row(personPhoneNumber.phoneNumber) }}                        

                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div style="display:none"> {{ form_rest(dealForm) }}</div>
<div class="row">
    <div class=" pull-right">
        <div class="control-group">
            <div class="controls">                      
                <a type="submit" class="btn btn-white" href="{{path('deal_manage')}}">Cancel</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //Email addresses
    var personEmailAddressesHolder = $('ul.personEmailAddresses');
    var $addEmailLink = $('<a href="#" class="btn btn-default btn-mini ">Add email address</a>');
    var $newEmailLi = $('<li></li>').append($addEmailLink);

    //Phone numbers
    var personPhoneNumbersHolder = $('ul.personPhoneNumbers');
    var $addPhoneLink = $('<a href="#" class="btn btn-default btn-mini">Add phone number</a>');
    var $newPhoneLi = $('<li></li>').append($addPhoneLink);

    jQuery(document).ready(function() {
        //add delete link
        personEmailAddressesHolder.find('li').each(function() {
            addEmailFormDeleteLink($(this));
        });
        personPhoneNumbersHolder.find('li').each(function() {
            addPhoneFormDeleteLink($(this));
        });

        personEmailAddressesHolder.append($newEmailLi);
        personPhoneNumbersHolder.append($newPhoneLi);

        personEmailAddressesHolder.data('index', personEmailAddressesHolder.find(':input').length);
        personPhoneNumbersHolder.data('index', personPhoneNumbersHolder.find(':input').length);

        $addEmailLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // add a new product category form (see next code block)
            addPersonEmailForm(personEmailAddressesHolder, $newEmailLi);
        });

        $addPhoneLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // add a new product category form (see next code block)
            addPersonEmailForm(personPhoneNumbersHolder, $newPhoneLi);
        });

    });

    function addPersonEmailForm(personEmailAddressesHolder, $newEmailLi) {
        // Get the data-prototype explained earlier
        var prototype = personEmailAddressesHolder.data('prototype');

        // get the new index
        var index = personEmailAddressesHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        personEmailAddressesHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a product category" link li
        var $newFormLi = $('<li class=""></li>').append(newForm);
        $newEmailLi.before($newFormLi);

        // add a delete link to the new form
        addEmailFormDeleteLink($newFormLi);
    }

    function addPersonPhoneForm(personPhoneNumbersHolder, $newPhoneLi) {
        // Get the data-prototype explained earlier
        var prototype = personPhoneNumbersHolder.data('prototype');

        // get the new index
        var index = personPhoneNumbersHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        personPhoneNumbersHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a product category" link li
        var $newFormLi = $('<li class=""></li>').append(newForm);
        $newPhoneLi.before($newFormLi);

        // add a delete link to the new form
        addPhoneFormDeleteLink($newFormLi);
    }

    function addEmailFormDeleteLink($emailFormLi) {
        var $removeFormA = $('<a class="btn btn-danger btn-mini" href="#">Delete this email</a><hr/>');
        $emailFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the product category form
            $emailFormLi.remove();
        });
    }

    function addPhoneFormDeleteLink($phoneFormLi) {
        var $removeFormA = $('<a class="btn btn-danger btn-mini" href="#">Delete this number</a><hr/>');
        $phoneFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the product category form
            $phoneFormLi.remove();
        });
    }

</script>