<table class="table table-striped table-hover" >    
{% for userTeam in teams %}
    <tr>
        <td>
            <a href="{{path('team_users',{teamId: userTeam.id}) }}" title="Edit team" class="ajaxLink">{{ userTeam}} </a><br>
            <small>- {{userTeam.teamDescription}}<br>
                <em>{{ userTeam.createdAt|date('M d Y g:i ')   }}</em>
            </small>
            <a href="{{path('team_edit',{teamId: userTeam.id})}}" title="Edit team" class="ajaxLink pull-right">Edit </a><br>
        </td>
        
    </tr>
 {% else %}
    <tr><td>
      <p>No users found.</p>
      </td>
      </tr>
{% endfor %}
</table>